<tr>
  <td><%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.year_release %></td>
  <td><%= book.number_of_copies %></td>
  <td><%= link_to "Show this book", book, class: "btn btn-info" %></td>
  <td><%= link_to "Edit/Delete this book", book, class: "btn btn-warning" %></td>
</tr>